@charset UTF-8;
/* the stylesheet all page available */
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, code, del,
dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th,
td, article, aside, dialog, figure, footer, header, hgroup,
nav, section{
	border:0px;
	font:inherit;
	margin:0px;
	padding:0px;
	outline:none;
	vertical-align:baseline;
}
html{
	height:100%;
}
body{
	height:100%;
	font-size: 12px;
	font-family:微软雅黑, 宋体, Arial;
	-webkit-text-size-adjust:none;
}
input{
	font-family:微软雅黑, 宋体, Arial;
	outline:none;
}
input[type=button]{
	-webkit-appearance:none;
}
.floatLeft{
	float:left;
}
.floatRight{
	float:right;
}
.disNone{
	display:none;
}
.positionRel{
	position:relative;
}
.clear{
	clear:both;
	line-height:0px;
	font-size:0px;
}
.overflowH{
	overflow:hidden;
	*zoom:1;
}
.verticalAlignTop{
	vertical-align:top !important;
}
.visibleH{
	visibility:hidden;
}

/* index page */
#Error{
	width:100%;
	min-width:980px;
	padding-top:100px;
	line-height:0px;
	font-size:0px;
	position:fixed;
	z-index:1011;
	visibility:hidden;
	_display:none;
	_position:absolute;
}
#Confirm{
	width:100%;
	min-width:980px;
	padding-top:100px;
	line-height:0px;
	font-size:0px;
	position:fixed;
	z-index:1011;
	visibility:hidden;
	_display:none;
	_position:absolute;
}
#ConfirmC{
	width:100%;
	min-width:980px;
	padding-top:100px;
	line-height:0px;
	font-size:0px;
	position:fixed;
	z-index:1009;
	visibility:hidden;
	_display:none;
	_position:absolute;
}
#ConfirmCh{
	width:100%;
	min-width:980px;
	padding-top:100px;
	line-height:0px;
	font-size:0px;
	position:fixed;
	z-index:1009;
	visibility:hidden;
	_display:none;
	_position:absolute;
}
#UpgradeConfirm, #CloudBindConfirm{
	width:100%;
	height:0px;
	margin:0px auto;
	line-height:0px;
	font-size:0px;
	position:absolute;
	top:90px;
	z-index:1011;
}
#Con{
	height:100%;
}
#CloudAccountPage{
	height:100%;
}
#Cover, #CoverB, #CoverC{
	width:100%;
	height:100%;
	bottom:0px;
	right:0px;
	position:fixed;
	_top:0px;
	_left:0px;
	_position:absolute;
	background:#333333;
	opacity:0.7;
	filter:alpha(opacity=70);
	display:none;
	visibility:hidden;
	z-index:1010;
}
#CoverB{
	z-index:1008 !important;
}
#CoverC{
	z-index:1009 !important;
}
div.VigNetControlCon{
	width:99%;
	top:-9999px;
	position:absolute;
	z-index:1009;
	visibility:hidden;
}
#Help{
	width:674px;
	top:-9999px;
	position:absolute;
	background:#FFFFFF;
	box-shadow:0 0 7px rgba(111, 111, 111, 1);
	z-index:1003;
}
#Login{
	height:100%;
	display:none;
}
#ProgressBar{
	width:100%;
	height:0;
	bottom:0px;
	right:0px;
	position:fixed;
	_top:0px;
	_left:0px;
	_position:absolute;
	display:none;
	visibility:hidden;
	z-index:1011;
}
#ProgressBarApps{
	display:none;
	height:12px;
	position:relative;
	padding-left:35px;
	overflow:hidden;
	visibility:hidden;
}
/* index page end */

/* help */
#helpContent{
	height:1px;
	display:none;
	top:-9999px;
	position:absolute;
	visibility:hidden;
	overflow:hidden;
}
p.helpTop{
	height:37px;
	padding:0px;
	margin:0px;
	position:relative;
	cursor:move;
	background:#70D2EF;
	text-align:left;
}
p.appsHelpTop{
	background:#B0CB33 !important;
}
span.helpDes{
	color:white;
	line-height:37px;
	font-weight:bold;
	font-size:14px;
	margin-left:20px;
}
i.helpClose{
	width:20px;
	height:20px;
	top:8px;
	right:10px;
	position:absolute;
	cursor:pointer;
	background:url(../../web-static/images/routerBg.png) -396px -162px no-repeat;
}
#helpDetail{
	font-size:12px;
	margin:21px 35px 35px;
	word-wrap:break-word;
	word-break:break-all;
}
#helpDetail ul.help{
	color:#000000;
	list-style:none;
	margin-top:3px;
}
#helpDetail a{
	color:#0000CC;
}
ul.help li.des{
	margin-top:10px;
}
ul.help li.title{
	font-size:14px;
	font-weight:bold;
	margin-top:10px;
}
ul.help li.titleList{
	font-weight:bold;
	margin-top:2px;
}
ul.help li.content{
	margin-top:2px;
}
ul.help li.warnning{
	color:#FB6E52;
	margin-top:10px;
}
ul.help ul.listNum{
	margin-left:18px;
	list-style-type:decimal;
}
ul.help ul.listNone{
	list-style-type:none;
}
ul.help ul.listNum li{
	margin-top:2px;
}
ul.help li.contentList{
	margin-top:2px;
	padding-left:20px;
	position:relative;
}
ul.help li.contentList span.num{
	top:0;
	left:0;
	position:absolute;
}
ul.help li.table{
	margin-top:10px;
}
li.table table{
	border:0px;
}
li.table td{
	padding-right:20px;
	text-align:center;
}
/* help end */

/* multiple input */
ul.wzdConTitleUl{
	list-style:none outside none;
	padding:0;
	margin-bottom:45px;
}
p.wzdConTitle{
	border-bottom:1px solid #248AB3;
	color:#FFFFFF;
	font-size:23px;
	font-weight:bold;
	padding-bottom:15px;
	width:98.5%;
}
p.wzdConTitle label.note{
	color:#005D83;
	font-size:12px;
	font-weight:normal;
	margin-left:15px;
	vertical-align:bottom;
}
p.wzdConTitle label.link{
	color:#005D83;
	font-size:15px;
	margin-left:7px;
	vertical-align:bottom;
	cursor:pointer;
}
p.wzdDesP{
	color:#FFFFFF;
	font-size:12px;
	margin:10px 0 25px 347px;
	text-align:left;
}
p.wzdConTitleDes{
	color:#0D6A90;
	font-size:12px;
	margin-top:15px;
}
ul.inputUlF{
	margin-bottom:0 !important;
}
ul.inputUl{
	height:35px;
	text-align:left;
	list-style:none;
	margin-bottom:25px;
	padding:0;
}
ul.inputUl li{
	height:35px;
	line-height:35px;
	display:inline-block;
	*display:inline;
	*zoom:1;
}
ul.inputUl li.inputLi{
	font-size:0px;
	vertical-align:middle;
}
li.inputLi label{
	color:#FFFFFF;
	display:inline-block;
	font-size:14px;
	font-weight:bold;
	line-height:30px;
	margin-right:15px;
	text-align:right;
	vertical-align:middle;
	width:332px;
}
li.inputLi label.N{
	width:78px !important;
}
li.inputLi label.M{
	width:110px !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
	li.inputLi input{
		line-height:0px !important;
	}
}
li.inputLi input{
	border:0px;
	border-radius:3px;
	padding:0 10px;
	width:205px;
	height:35px;
	line-height:35px;
	font-size:12px;
	background:#FFFFFF;
	vertical-align:middle;
}
li.inputLi input.N{
	width:158px !important;
}
li.inputLi input.M{
	width:126px !important;
}
li.inputLi i.tip{
	width:17px;
	height:16px;
	display:inline-block;
	font-size:12px;
	margin-left:5px;
	background:url(../../web-static/images/wzd.png) no-repeat -95px -243px;
	vertical-align:middle;
	visibility:hidden;
}
li.wzdSubLi{
	list-style:none;
	font-size:0px;
	width:100%;
	margin-top:45px;
	text-align:center;
}
li.wzdSubLi input{
	background-color:#FFEA55;
	border-radius:3px;
	color:#3C3E43;
	width:225px;
	height:35px;
	border:0px;
	padding:0px;
	cursor:pointer;
}
li.wzdSubLi input.subBtnDis{
	background-color:#4CB1D9 !important;
	color:#005D83 !important;
	border:1px solid;
	cursor:auto;
}
input.btnL{
	margin-right:55px;
}
input.wzdDetectBtn{
	color:#3C3E43;
	font-size:12px;
	background-color:#FFEA55;
	border:0;
	border-radius:3px;
	vertical-align:middle;
	margin-left:10px;
	height:25px;
	width:92px;
}
label.wzdDesLblA{
	color:#FFFFFF;
	float:left;
	font-size:14px;
	font-weight:bold;
	margin-right:15px;
	text-align:right;
	width:332px;
}

/* input note */
ul.inputUl li.note{
	font-size:0px;
	text-align:left;
	visibility:hidden;
	margin-left:10px;
	vertical-align:middle;
}
ul.gridLineA li.note{
	font-size:0px;
	text-align:left;
	visibility:hidden;
	margin-left:7px;
}
li.note i.arrowL{
	line-height:0px;
	border-style:solid;
	border-width:4px 3px 4px 0px;
	border-color:#FFFFFF #FB6E52 #FFFFFF #FFFFFF;
	vertical-align:middle;
	display:inline-block;
	*display:inline;
	*zoom:1;
}
li.note i{
	display:inline-block;
	width:13px;
	height:13px;
	vertical-align:middle;
}
li.note i.error{
	background:url(../../web-static/images/routerBg.png) -441px -68px no-repeat transparent;
}
li.note i.warn{
	background:url(../../web-static/images/routerBg.png) -467px -190px no-repeat transparent;
}
li.note i.correct{
	background:url(../../web-static/images/routerBg.png)  -424px -69px no-repeat transparent;
}
li.note div.noteCon{
	color:#FFFFFF;
	font-size:12px;
	margin-left:5px;
	vertical-align:middle;
	display:inline-block;
	*display:inline;
	*zoom:1;
	height:32px;
	width:221px;
}
li.note div.noteConRouteSet{
	width:auto !important;
}
div.noteCon p{
	line-height:32px;
}
div.noteCon p.twoLine{
	line-height:16px;
}
div.noteCon p.pwdDepC{
	margin-top:4px;
}
div.noteCon p.vlM{
	line-height:3.32em !important;
	margin:0px !important;
}
div.noteCon div.pwdDepL{
	width:72px;
	height:5px;
	font-size:0px;
	margin-top:2px;
	background:#94D0E8;
}
div.pwdDepL label{
	width:0px;
	height:4px;
	display:block;
	line-height:4px;
	background:#FFFFFF;
}
/* end input note */

/* end multiple input */

/* select */
span.select{
	height:100%;
	font-weight:normal;
	font-size:14px !important;
	text-align:left;
	margin-left:7px;
	cursor:pointer;
	vertical-align:middle;
	display:inline-block;
	*display:inline;
	*zoom:1;
}
span.select span.value{
	word-break:break-all;
	word-wrap:break-word;
	vertical-align:middle;
	display:inline-block;
	overflow:hidden;
	*display:inline;
	*zoom:1;
}
span.select span.wzdValue{
	color:#FFFFFF;
	width:164px;
}
span.select span.hsValueA{
	color:#FFFFFF;
	width:190px;
	line-height:30px;
	height:30px;
}
span.select span.wzdValueA{
	color:#3C3E43;
	font-size:12px;
	width:190px;
	height:35px;
	line-height:35px;
}
span.select span.hsValueB{
	color:#FFFFFF;
	width:365px;
	line-height:30px;
	height:30px;
}
span.select span.hsValueC{
	color:#FFFFFF;
	width:319px;
	line-height:30px;
	height:30px;
}
span.select span.hsValueD{
	color:#FFFFFF;
	width:250px;
	line-height:30px;
	height:30px;
}
span.select i.arrow{
	background:url(../../web-static/images/routerBg.png) -443px -92px no-repeat;
	width:9px;
	height:6px;
	font-size:0px;
	vertical-align:middle;
	display:inline-block;
	*display:inline;
	*margin-left:8px;
	*zoom:1;
}
span.select i.arrowWzd{
	background:url("../../web-static/images/routerBg.png") -445px -113px no-repeat !important;
}
ul.selOptsUl{
	top:-9999px;
	left:-1px;
	width:100%;
	font-size:12px;
	list-style:none;
	position:absolute;
	border:1px solid #2BA2D8;
	overflow:hidden;
	max-height:182px;
	_height:expression(this.offsetHeight<400?"":400);
	box-shadow:0 0 3px 0px rgba(120,120,120,.6);
	border-radius:3px;
	background:#FFFFFF;
	padding:3px 0;
	visibility:visible;
	z-index:1001;
}
ul.selOptsUl li.option{
	height:30px;
	line-height:30px;
	font-size:14px;
	font-weight:normal;
	margin:0 3px;
	padding-left:10px;
	cursor:pointer;
	overflow:hidden;
	float:none;
	display:block;
}
ul.appSelOptsUl{
	top:-9999px;
	left:-1px;
	width:100%;
	font-size:12px;
	list-style:none;
	position:absolute;
	overflow:hidden;
	max-height:182px;
	_height:expression(this.offsetHeight<400?"":400);
	box-shadow:0 0 7px 0px rgba(120,120,120, 0.6);
	border-radius:3px;
	border:1px solid #787878;
	background:#FFFFFF;
	padding:3px 0;
	visibility:visible;
	z-index:1001;
}
ul.appSelOptsUl li.option{
	height:30px;
	line-height:30px;
	font-size:12px;
	font-weight:normal;
	margin:0 3px;
	padding-left:5px;
	cursor:pointer;
	overflow:hidden;
	float:none;
	display:block;
}
ul.eptMgtSelOptsUl{
	top:-9999px;
	left:-1px;
	width:100%;
	font-size:12px;
	list-style:none;
	position:absolute;
	overflow:hidden;
	max-height:182px;
	_height:expression(this.offsetHeight<400?"":400);
	box-shadow:0 0 7px 0px rgba(120,120,120, 0.6);
	border-radius:3px;
	border:1px solid #787878;
	background:#FFFFFF;
	padding:3px 0;
	visibility:visible;
	z-index:1001;
}
ul.eptMgtSelOptsUl li.option{
	height:30px;
	line-height:30px;
	font-size:14px;
	font-weight:normal;
	margin:0 3px;
	padding-left:10px;
	cursor:pointer;
	overflow:hidden;
	float:none;
	display:block;
}
ul.wzdSelOptsUl{
	top:-9999px;
	left:-1px;
	width:100%;
	font-size:12px;
	list-style:none;
	position:absolute;
	border:1px solid #FFFFFF;
	overflow:hidden;
	max-height:182px;
	_height:expression(this.offsetHeight<400?"":400);
	box-shadow:0 0 3px 0px rgba(120,120,120,.6);
	border-radius:3px;
	background:#FFFFFF;
	padding:3px 0;
	visibility:visible;
	z-index:1001;
}
ul.wzdSelOptsUl li.option{
	background-color:#FFFFFF;
	height:30px;
	line-height:30px;
	font-size:12px;
	font-weight:normal;
	margin:0;
	padding-left:10px;
	cursor:pointer;
	overflow:hidden;
	float:none;
	display:block;
}
li.option span{
	background:url(../../web-static/images/routerBg.png) no-repeat -424px -185px;
	display:inline-block;
	float:right;
	font-weight:normal;
	font-size:14px;
	margin-right:10px;
	visibility:hidden;
	width:15px;
	height:30px;
}
li.option span.selCross{
	background:url(../../web-static/images/routerBg.png) no-repeat -434px -185px;
}
ul.wzdSelOptsUl li.option span.selCross{
	background:url(../../web-static/images/routerBg.png) no-repeat -394px -105px;
}
li.option span.selCrossOut{
	background:url(../../web-static/images/routerBg.png) no-repeat -394px -105px;
}
/* select end */

/* loading */
div.LoadConCover{
	width:100%;
	top:0px;
	position:fixed;
	_position:absolute;
	z-index:1011;
}
div.coverLoadCon{
	font-size:12px;
	height:0px;
	width:666px;
	margin:0px auto;
	margin-top:190px;
	position:relative;
}
div.coverLoad{
	width:666px;
	height:290px;
	background:#FFFFFF;
	box-shadow:0 0 2px rgba(210, 210, 210, 1);
	position:absolute;
	top:0px;
	text-align:center;
}
div.coverLoadWzd{
	width:160px;
	height:160px;
	background:#A0D468;
	border-radius:5px;
	box-shadow:0 0 4px rgba(0, 0, 0, 1);
	position:absolute;
	top:0px;
	left:-80px;
}
input.coverLoadClose{
	font-size:14px !important;
	background:#D9D9D9 !important;
	color:#000000;
	padding:6px 20px;
	*padding:3px 10px 2px;
	margin-top:23px;
	cursor:pointer;
}
i.coverLoading{
	width:100px;
	height:100px;
	margin-top:50px;
	display:inline-block;
	background:url(../../web-static/images/loadingRouteSet.gif);
}
i.coverWarnning{
	width:52px;
	height:52px;
	display:inline-block;
	margin:40px 0 0 56px;
	background:url(../../web-static/images/basic.png) -241px -375px;
}
p.coverLoadNote{
	color:#3c3e43;
	font-size:14px;
	margin-top:15px;
	padding:0 2px;
	text-align:center;
}
p.coverLoadWarnning{
	color:#000000;
	font-size:12px;
	margin-top:18px;
	padding:0 2px;
	text-align:center;
}
p.coverLoadWarnningWzdDect{
	color:#000000;
	font-size:12px;
	margin-top:14px;
	padding:0 2px;
	text-align:center;
}
/* end loading */
/* DFS pop-up window */
div.coverLoadDFS {
	width: 650px;
	height: 240px;
}
div.coverLoadDFS img.radarImg {
	width: 96px;
	height: 96px;
	margin-top: 39px;
}
div.coverLoadDFS p.coverLoadNote {
	color: #000;
	font-size: 12px;
	margin-top: 20px;
	padding: 0 2px;
	text-align: center;
	line-height: 22px;
}
#DFScountdown {
	font-size: 16px;
	color: #2BA2D8;
}
/*end DFS pop-up window*/
/* DateControl */
ul.hourList{
	color:#b5b5b5;
	padding-left:0px;
	margin:0 0 0 38px;
	font-size:12px;
	list-style:none;
	text-align:left;
}
ul.hourList li{
	display:inline-block;
	text-align:center;
	*display:inline;
	*zoom:1;
}
ul.hourList span{
	width:18px;
	height:18px;
	color:#FFFFFF;
	text-align:center;
	background:url(../../web-static/images/advance.png) no-repeat -197px -94px;
	display:inline-block;
	cursor:pointer;
	*display:inline;
	*zoom:1;
}
ul.weekList{
	_width:40px;
	float:left;
	color:#505050;
	font-size:12px;
	list-style:none;
	padding-left:0px;
	margin:5px 14px 0px 0px;
	_margin:5px 10px 0px 0px;
}
.weekList li{
	font-size:11.99px;
	font-weight:bold;
	cursor:pointer;
}
table.tableWeek{
	float:left;
	margin-top:5px;
	margin-left:0px;
	font-weight:normal;
	border-collapse:collapse;
}
i.tableICell{
	display:inline-block;
}
td.weekTd{
	border:1px solid #E3E6E9;
	margin:0px;
	font-size:0px;
	text-align:center;
}
/* end of DateControl */

/* IESix compatible */
div.ieSixCompatible{
	width:100%;
	height:0px;
	top:0px;
	left:0px;
	position:absolute;
	z-index:1010;
	display:block !important;
}
div.ieSixCpCon{
	width:300px;
	padding:2px;
	margin:50px auto 0px;
	background:#FFFFEE;
	border:1px solid #FFD685;
}
div.ieSixCpCon i.warn{
	height:16px;
	width:16px;
	display:inline-block;
	margin-right:2px;
	vertical-align:middle;
	background:url(../../web-static/images/wzd.png) no-repeat -137px -243px;
}
div.ieSixCpCon span.spanClose{
	color:blue;
	margin-left:5px;
	cursor:pointer;
}
/* end of IESix compatible */

/* wizard */
li.wizardTop{
	height:110px;
	overflow:hidden;
	text-align:center;
	position:relative;
	border-radius:3px 3px 0px 0px;
}
li.wizardTopWan{
	background:#FB6E52;
}
li.wizardTopWireless{
	background:#A0D468;
}
li.wizardTopEnd{
	height:180px !important;
	background:#A0D468;
}
li.wizardMidWan p.canvas{
	height:50px;
	background:#FB6E52;
}
li.wizardMidWireless p.canvas{
	height:50px;
	background:#A0D468;
}
div.wizardContent{
	width:980px;
	margin:0px auto;
	padding-bottom:40px;
}
div.wizardContent div.wizardLogo{
	height:50px;
	margin-bottom:20px;
	position:relative;
}
div.wizardLogo i.logoBand{
	width:230px;
	height:14px;
	font-size:0px;
	display:inline-block;
	vertical-align:middle;
	position:absolute;
	top:20px;
	background:url(../../web-static/images/logo.png) no-repeat 0px 1px;
}
div.wizardLogo span.logoModel{
	color:#B2B2B2;
	font-size:15px;
	font-weight:bold;
	display:inline-block;
	line-height:50px;
	margin-left:10px;
	vertical-align:middle;
}
div.wzdIdx{
	height:60px;
	margin-bottom:25px;
}
ul.wzdFootCon{
	color:#FFFFFF;
	list-style-type:none;
	width:100%;
	margin-top:20px;
	font-size:12px;
}
ul.wzdFootCon li {
	display:inline-block;
	*display:inline;
	*zoom:1;
}
ul.wzdFootCon li.showLeft {
	float:left;
}
ul.wzdFootCon li.showRight {
	float:right;
}
ul.wzdFootCon li.showRight a {
    color:#FFFFFF;
    text-decoration:none;
}
ul.wzdFootCon li.showRight label {
	border-left: 1px solid #FFFFFF;
    color: #FFFFFF;
    margin-left: 10px;
    padding-left: 10px;
}
li.showLeft a{
	text-decoration:none;
	color:#FFFFFF;
}
input.skipWzd{
	background-color:#1A7494;
	border:0;
	border-radius:3px;
	color:#FFFFFF;
	cursor:pointer;
	display:none;
	float:right;
	font-size:12px;
	height:25px;
	position:relative;
	text-align:center;
	top:25px;
	vertical-align:middle;
	width:80px;
}
ul.wzdNav {
	position:relative;
	top:30px;
	list-style-type:none;
	display:inline-block;
	font-size:0;
	*display:inline;
	*zoom:1;
}
ul.wzdNav li {
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:135px;
	color:#FFFFFF;
	font-size:0;
}
ul.wzdNav li p{
	font-size:12px;
	color:#FFFFFF;
	margin-bottom:5px;
}
ul.wzdNav li.select p{
	color:#D8FF68;
}
ul.wzdNav li span{
	width:123px;
	height:6px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	background-color:#FFFFFF;
	vertical-align:middle;
}
ul.wzdNav li.select span{
	background-color:#D8FF68;
}
ul.wzdNav li i{
	display:inline-block;
	*display:inline;
	*zoom:1;
	border-style:solid;
	overflow:hidden;
	font-size:0;
	height:0;
	width:0;
	vertical-align:middle;
}
ul.wzdNav li i.edgeItem {
	border-width:3px;
	border-color:#FFFFFF;
}
ul.wzdNav li.select i {
	border-color:#D8FF68;
}
ul.wzdNav li i.showLeft{
	border-width:3px 3px;
	border-color:#FFFFFF #FFFFFF #248AB3 #248AB3;
}
ul.wzdNav li.select i.showLeft{
	border-color:#D8FF68 #D8FF68 #248AB3 #248AB3;
}
ul.wzdNav li i.showRight{
	border-width:3px 3px;
	border-color:#248AB3 #248AB3 #FFFFFF #FFFFFF;
}
ul.wzdNav li.select i.showRight{
	border-color:#248AB3 #248AB3 #D8FF68 #D8FF68;
}
div.wizardCon{
	height:480px;
	padding:35px 30px 0px 30px;
	position:relative;
	background:#4CB1D9;
}
div.wizardCon ul.wzdUl{
	height:100%;
	list-style:none;
	font-size:0px;
	overflow:hidden;
	_zoom:1;
}
li.wizardTop h1{
	color:#FFFFFF;
	font-size:34px;
	line-height:35px;
	font-weight:normal;
	margin-top:38px;
}
li.wizardTop p{
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	margin-top:5px;
	letter-spacing:1px;
}
li.wizardTop a{
	top:10px;
	right:10px;
	position:absolute;
	cursor:pointer;
}
li.wizardTop span{
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	margin-left:2px;
	vertical-align:middle;
}
li.wizardTop i{
	height:13px;
	width:13px;
	display:inline-block;
	cursor:pointer;
	vertical-align:middle;
	background:url(../../web-static/images/wzd.png) no-repeat -240px -247px;
}
li.wizardMid{
	height:90px;
	*margin-top:-1px;
	background:#FFFFFF;
	position:relative;
}
p.wizardPwdTip{
	color:#4C4C4C;
	font-weight:bold;
	font-size:12px;
	padding-left:150px;
	_padding-left:142px;
	padding-top:20px;
	text-align:left;
	visibility:hidden;
}
p.wizardTip{
	color:#4C4C4C;
	font-weight:bold;
	font-size:12px;
	padding-left:150px;
	_padding-left:142px;
	padding-top:5px;
	text-align:left;
}
ul.wizardIptPos{
	margin-left:143px;
	_margin-left:135px;
}
p.wizardWirelessTip{
	color:#FB6E52;
	font-size:12px;
	margin-top:10px;
	padding-left:151px;
	_padding-left:143px;
	text-align:left;
}
li.lgBtnsWzd{
	font-size:0px;
	width:100%;
	bottom:20px;
	position:absolute;
	text-align:center;
}
li.lgBtnsWzd input{
	margin-right:0 !important;
}
li.lgBtnsWzd span.btnConWzd{
	width:50px;
	display:inline-block;
}
span.btnConWzdL{
	margin-right:60px;
}
li.lgBtnsWzd input{
	width:37px;
	height:37px;
	border:0px;
	padding:0px;
	cursor:pointer;
}
span.btnConWzd span{
	font-size:14px;
	font-weight:bold;
	margin-top:5px;
	display:inline-block;
}
input.wzdDetect{
	width:70px;
	margin-left:5px;
	margin-top:5px;
	padding-bottom:6px;
	padding-top:6px;
	*padding-top:4px;
	*padding-bottom:4px;
	_padding-bottom:2px;
}
li.wizardBom{
	color:#FFFFFF;
	font-size:14px;
	margin-top:50px;
	text-align:center;
}
li.wizardBom p.noteP{
	font-size:24px;
	font-weight:bold;
	margin-bottom:20px;
}
li.wizardBom label{
	color:#FFFFFF;
	display:inline-block;
	font-size:14px;
}
li.wizardBom a{
	background-color:#4CB1D9;
	color:#005D83;
	cursor:pointer;
	font-weight:bold;
	height:20px;
	margin-left:14px;
}
li.wizardBom i{
	display:inline-block;
	margin-bottom:55px;
}
li.wizardBom i.detecting{
	background:url(../../web-static/images/wzdDetecting.gif) no-repeat transparent;
	width:102px;
	height:103px;
}
li.wizardBom i.success{
	background:url(../../web-static/images/wzdSuccess.png) no-repeat transparent;
	width:70px;
	height:70px;
}
li.wizardBom i.warn{
	background:url(../../web-static/images/wzdWarn.png) no-repeat transparent;
	width:101px;
	height:100px;
}

/* wizard confirm */
div.confirmCon{
	width:100%;
	top:235px;
	position:absolute;
	z-index:1011;
}
div.confirm{
	width:715px;
	height:280px;
	margin:0px auto;
	background:white;
	text-align:center;
}
div.confirm i.confirmLogo{
	background:url(../../web-static/images/redWarn.png) no-repeat transparent;
	display:inline-block;
	width:70px;
	height:70px;
	margin:45px auto 20px;
}
p.confirmQuestion{
	color:#3C3E43;
	font-size:14px;
}
div.confirmFuncCon{
	margin:30px 0 65px;
}
div.confirmFuncCon input.subBtn{
	background-color:#FFEA55;
	border-radius:2px;
	color:#3C3E43;
	font-size:14px;
    width:85px;
	height:35px;
}
div.confirmFuncCon input.subBtnL{
	margin-right:55px;
}
div.confirmFuncCon input.subBtnR{
	background-color:#D9D9D9 !important;
}
/* wizard confirm end */

/* sync confirm */
div.confirmSyncCon{
	width:100%;
	top:285px;
	position:absolute;
	z-index:1011;
}
div.confirmSync{
	width:508px;
	height:304px;
	margin:0px auto;
	background:white;
	text-align:center;
	position:relative;
}
div.confirmSyncConPhone{
	width:100%;
	top:110px;
	position:absolute;
	z-index:1011;
}
div.confirmSyncPhone{
	width:247px;
	height:316px;
	margin:0px auto;
	background:white;
	text-align:center;
	border-radius:10px;
	box-shadow: 0px 0px 7px #000;
	position:relative;
}
/* sync confirm end */

/* phone wizard alert */
div.phWzdAlertCon{
	position:absolute;
	top:-9999px;
	visibility:hidden;
	left:0px;
	right:0px;
	z-index:1011;
	background:#ffffff;
	margin:0 auto;
	text-align:center;
	width:80%;
}
div.phWzdAlertCon p{
	color:#3c4e43;
	font-size:16px;
	margin:auto 5px 30px;
}
div.phWzdAlertCon img{
	height:70px;
	margin:15px auto;
	width:70px;
}
div.phWzdAlertCon label{
	border:none;
	display:inline-block;
	font-size:16px;
	line-height:35px;
	height:35px;
	padding:0;
}
div.phWzdAlertCon label.btnAlert{
	background:#feeb1a;
	width:100%;
}
div.phWzdAlertCon label.btnN{
	background:#d9d9d9;
	width:50%;
}
div.phWzdAlertCon label.btnY{
	background:#feeb1a;
	width:50%;
}

/* phone wizard alert end */

/* end wizard */

/* routeset */
/* routeset detail */
div.hcCo{
	font-size:12px;
	padding:0 42px 50px 65px;
	position:relative;
	width: 744px;
	margin-right: auto;
	box-sizing: border-box;
}
div.title{
	font-size:0.1px;
	border-bottom:1px solid #1E96D4;
	padding-bottom:11px;
	margin-bottom:30px;
	position:relative;
	*zoom:1;
}
div.titleA{
	border-bottom:1px solid #90AC1F !important;
}
div.title label.title{
	color:#FFFFFF;
	font-size:24px;
	line-height:26px;
	vertical-align:middle;
}
span.hsSwitchState{
	color:#86b157;
	font-size:12px;
	font-weight:bold;
	margin-left:8px;
	vertical-align:middle;
}
p.hsTitleLine{
	padding:0px;
	line-height:0px;
	font-size:0px;
	border:0px;
	border-top:1px solid #1E96D4;
	margin:30px 0px 15px 0px;
	_margin:35px 0px 15px 0px;
}
i.helpBtn{
	height:20px;
	width:20px;
	right:2px;
	top:7px;
	cursor:pointer;
	position:absolute;
	background:url(../../web-static/images/routerBg.png) -418px -162px no-repeat;
}
i.elinkbtn{
	width:14px;
	height:14px;
	margin:8px 10px 8px 0px;
	border-top:8px;
	position:absolute;
	background:url(../../web-static/images/dhcp_warn.png) no-repeat;
}
label.elinkLbl{
	border-left:10px;
	padding:0px 0px 0px 17px;
}
div.handleRelCon{
	top:7px;
	right:40px;
	position:absolute;
	visibility:hidden;
}
div.handleRelCon i.state{
	width:12px;
	height:12px;
	display:inline-block;
	vertical-align:middle;
	*display:inline;
	*zoom:1;
}
div.handleRelCon span.state{
	font-size:12px;
	font-weight:bold;
	margin-left:4px;
	display:inline-block;
	text-indent:0px;
	vertical-align:middle;
}
div.block{
	margin-top:25px;
	text-align:center;
}
div.blockTable{
	text-align:left;
}
div.blockTableMT{
	margin-top:20px;
}
div.block input.btnA{
	width:70px;
	margin-left:15px;
	padding-top:3px;
	padding-bottom:3px;
	*padding-top:2px;
	*padding-bottom:1px;
}
div.blockFuncA{
	font-size:0px;
	margin:30px 0px 30px;
	padding-right:150px;
	text-align:right;
	*zoom:1;
}
div.blockFuncB1{
	text-align:left;
	margin:10px 0px 10px;
	padding-left:234px;
	*padding-left:249px;
}
div.blockFuncC{
	font-size:0px;
	margin-top:30px;
}
ul.gridLine{
	text-align:left;
	list-style:none;
}
ul.gridLine li{
	height:100%;
	line-height:100%;
	display:inline-block;
	vertical-align:middle;
	*display:inline;
	*zoom:1;
}
ul.gridLine i.tip{
	width:13px;
	height:13px;
	display:inline-block;
	font-size:12px;
	background:url(../../web-static/images/routerBg.png) -441px -68px no-repeat;
	visibility:hidden;
	vertical-align:middle;
}
ul.gridLine label.noteLbl{
	color:#FFFFFF;
	font-size:12px;
	margin:0 5px;
	display:inline-block;
	vertical-align:middle;
	*margin-left:5px;
}
ul.gridLine li.textCon{
	border-radius:3px;
	border:1px solid #2BA2D8;
	background:#2BA2D8;
}
ul.gridLine li.textConApp{
	border-radius:3px;
	border:1px solid #95AE31;
	background:#95AE31;
}
ul.gridLine li.textConWzd{
	background:#FFFFFF !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
	ul.gridLine input.text{
		line-height:0px !important;
	}
}
ul.gridLine input.text{
	height:30px;
	line-height:30px;
	color:#FFFFFF;
	font-size:14px;
	border:0px;
	padding:0px;
	*margin-top:-1px;
	vertical-align:middle;
	background:transparent;
}
ul.gridLineA{
	font-size:0px;
	height:30px;
	line-height:30px;
	margin-top:25px;
}
ul.wzdGridLineA{
	line-height:35px !important;
	height:35px !important;
	margin-bottom:25px !important;
}
ul.gridLineA1{
	margin-top:5px !important;
}
ul.gridLineA2{
	margin-top:15px !important;
}
ul.gridLineB{
	height:24px;
	line-height:24px;
	padding-left:263px;
	margin-top:30px;
}
ul.gridLineB1{
	margin-top:10px !important;
}
ul.gridLineC{
	font-size:0px;
	margin-top:10px;
}
ul.gridLineD{
	font-size:0px;
	height:36px;
	line-height:36px;
	margin-top:25px;
	overflow:hidden
}
ul.gridLineE{
	font-size:0px;
	margin-top:25px;
	height:46px;
}
li.note{
	visibility:hidden;
}
li.note span{
	display:inline-block;
	margin-left:5px;
	vertical-align:middle;
}
ul.gridLineD li.note{
	color:#FFFFFF;
	height:36px;
	font-size:0px;
	margin-left:10px;
}
ul.gridLineD li.note span{
	height:36px;
	overflow:hidden;
	font-size:12px;
	width:180px;
}
ul.gridLineD li.note span.note{
	line-height:36px;
}
ul.gridLineD li.note span.twoLine{
	line-height:18px !important;
}
ul.gridStatus{
	padding-left:260px;
	visibility:hidden;
}
label.desLblA{
	width:245px;
	font-size:14px;
	color:#FFFFFF;
	text-align:right;
	margin-right:15px;
	_margin-right:12px;
	float:left;
}
label.desLblB{
	width:320px;
	font-size:14px;
	font-weight:bold;
	display:inline-block;
	color:#FFFFFF;
	text-align:right;
	margin-right:15px;
	_margin-right:12px;
	vertical-align:middle;
}
li.textConA{
	width:225px;
}
li.textConAL{
	margin-left:260px;
	width:225px;
}
li.textConA1{
	width:285px;
}
li.textConB{
	width:70px;
}
li.textConB1{
	width:62px;
	vertical-align:middle;
}
li.textConB2{
	width:102px;
}
li.textConB3{
	width:82px;
}
li.textConB4{
	width:42px;
}
li.textConB5{
	border:0 !important;
	background:#FFFFFF !important;
	width:102px;
	vertical-align:middle;
}
li.textConC{
	width:400px;
}
li.textConD{
	width:350px;
}
li.textConE{
	border:0 !important;
	background:#FFFFFF !important;
	width:225px;
	vertical-align:middle;
}
li.textConE1{
	border:0 !important;
	background:transparent !important;
	width:225px;
	vertical-align:middle;
}
li.textConE2{
	border:0 !important;
	background:transparent !important;
	vertical-align:middle;
}
input.textA{
	width:190px;
	margin-left:12px;
}
input.textB{
	width:34px;
	margin-left:18px;
}
input.textB1{
	width:34px;
	margin-left:13px;
}
input.textB2{
	width:36px;
	margin-left:17px;
}
input.textB3{
	width:75px;
	margin-left:17px;
}
input.textB4{
	width:70px;
	margin-left:12px;
}
input.textC{
	color:#000000 !important;
	width:190px;
	height:36px !important;
	line-height:36px !important;
	margin-left:12px;
}
input.textC1{
	width:80px !important;
}
input.imeModeN{
	ime-mode:disabled;
}
input.switchRadio{
	margin:0;
	vertical-align:middle;
}
input.switchRadioR{
	margin-left:10px;
}
input.subBtn{
	color:#333333;
	font-size:12px;
	border-radius:3px;
	border:0px;
	cursor:pointer;
	vertical-align:middle;
	background:#FBEB1A;
}
input.btnA{
	width:70px;
	margin-left:15px;
	padding-top:3px;
	padding-bottom:3px;
	*padding-top:2px;
	*padding-bottom:1px;
}
input.btnA1{
	width:90px !important;
	margin-left:5px !important;
}
input.cancelBtn{
	color:#000000;
	font-size:12px;
	border-radius:3px;
	border:0px;
	cursor:pointer;
	vertical-align:middle;
	background:#D9D9D9;
}
input.subBtnDis{
	color:#FFFFFF;
	font-size:12px;
	border-radius:3px;
	border:1px solid #FFFFFF;
	cursor:default;
	padding-top:2px !important;
	padding-bottom:2px !important;
	*padding-top:2px !important;
	*padding-bottom:1px !important;
	vertical-align:middle;
	background:transparent !important;
}
input.checkbox{
	height:13px;
	width:13px;
	font-size:0px;
	margin:0px;
	padding:0px;
	vertical-align:middle;
}
input.radio{
	height:13px;
	width:13px;
	font-size:0px;
	margin:0px;
	padding:0px;
	vertical-align:middle;
}
div.hsTip{
	width:450px;
	min-height:135px;
	padding-top:45px;
	margin:0 auto;
	background:#FFFFFF;
	text-align:center;
	z-index:1;
	box-shadow:0 0 2px rgba(210, 210, 210, 1);
}
div.hsTipCh{
	width:550px;
	padding-top:0px;
}
div.hsTip p.detail{
	min-height:35px;
	width:310px;
	color:#000000;
	font-size:12px;
	line-height:22px;
	margin:0 auto;
	text-align:center;
	word-wrap:break-word;
	word-break:break-all;
}
div.hsTip p.detailCh{
	width:460px;
	text-align:left;
}
div.hsTip p.cancel {
	width:548px;
	text-align:right;
	padding-top:2px;
	padding-right:2px;
	padding-bottom:35px;
}
div.hsTip i.alertImg{
	background:url(../../web-static/images/routerBg.png) -318px -41px no-repeat;
	display:inline-block;
	height:70px;
	margin-top:20px;
	width:70px;
}
div.hsTip i.confirmImg{
	background:url(../../web-static/images/redWarn.png) no-repeat;
	display:inline-block;
	height:70px;
	margin-top:20px;
	width:70px;
}
div.hsTip i.cancelImg{
	background:url(../../web-static/images/close.png) no-repeat;
	display:inline-block;
	height:15px;
	width:15px;
	cursor:pointer;
}
div.hsTip p.detailImg{
	min-height:35px;
	color:#000000;
	font-size:12px;
	line-height:22px;
	margin-top:30px;
	word-wrap:break-word;
	word-break:break-all;
}
div.hsTip input{
	width:70px;
	margin:10px 7px 50px;
	padding:6px;
	*padding:4px 6px;
}
div.hsTipCh input{
	width:220px;
}
div.hsTip input.ok{
	background:#FEEB1A !important;
}
div.hsTip input.cancel{
	background:#D9D9D9 !important;
}
#ProgressBar div.progressBarCon{
	background:#FFFFFF;
	width:665px;
	min-height:180px;
	_height:180px;
	color:#FFFFFF;
	font-size:12px;
	margin:185px auto 0;
	overflow:hidden;
}
#ProgressBar p.progressBarDes{
	color:#3C3E43;
	font-size:14px;
	font-weight:bold;
	margin-top:10px;
	text-align:center;
}
#ProgressBar div.progressBarBg{
	margin:15px auto 0;
	border-radius:5px;
	overflow:hidden;
	background:#FFFFFF;
	border:1px solid #FEEB1A;
	width:402px;
}
#ProgressBar p.progressBarDe{
	width:0px;
	height:10px;
	font-size:0px;
	border-radius:5px;
	background:#FEEB1A;
}
#ProgressBar div.progressBarPCon{
	height:76px;
	position:relative;
}
#ProgressBar p.progressBarPercent{
	color:#3C3E43;
	font-size:30px;
	position:absolute;
	bottom:0px;
	text-align:center;
	width:100%;
}
#ProgressBarApps div.progressBarBg{
	border-radius:5px;
	overflow:hidden;
	background:#transparent;
	border:1px solid #FFFFFF;
	margin-top:3px;
	width:120px;
}
#ProgressBarApps p.progressBarDe{
	width:0px;
	height:6px;
	font-size:0px;
	border-radius:5px;
	background:#FFFFFF;
}
#ProgressBarApps p.progressBarPercent{
	color:#FFFFFF;
	font-size:12px;
	line-height:12px;
	left:0px;
	top:0px;
	position:absolute;
	text-align:left;
	width:35px;
}
div.hsLoadingCon{
	position:absolute;
	visibility:hidden;
	text-align:center;
}
div.hsVignetteCon{
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	visibility:hidden;
	position:absolute;
	z-index:2;
}
div.hsVignetteConBg{
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	filter:alpha(opacity=0);
	opacity:0;
	background:#FFFFFF;
	position:absolute;
	z-index:-1;
}
div.hsVignette{
	margin:0 auto;
	margin-top:198px;
	border:1px solid #D0D0D0;
	border-radius:5px;
	background:#FFFFFF;
	box-shadow:0 0 7px rgba(208, 208, 208, 0.6);
}
p.hsVigTtop{
	text-align:right;
}
i.hsVigClose{
	width:14px;
	height:14px;
	display:inline-block;
	cursor:pointer;
	margin:7px 7px 0 0;
	background:url(../../web-static/images/routerBg.png) no-repeat -405px -36px;
}
i.routesetUpgradeTipI{
	position:absolute;
	right:66px;
	top:24px;
	width:10px;
	height:10px;
	border-radius:5px;
	background-color:#FBEB1A;
}
p.help_tip{
	color: #ffffff;
	margin-top: 6px;
	padding: 0 70px 0 190px;
	text-align: left;
}
/* routeset detail end */
/* routeset */

/* basic set */
/* multiple input */
li.bcInputLi label{
	width:6.5em;
	color:#000000;
	font-size:1em;
	line-height:2.5em;
	display:inline-block;
	border-right:1px solid #CCCCCC;
	text-align:center;
	vertical-align:middle;
}
li.bcInputLi label.M{
	width:9.16em !important;
}
li.bcInputLi input.M{
	width:10.05em !important;
}
i.bcArrowM{
	_margin-top:0.416em;
}
/* end multiple input */

/* switch ball */
div.switchCon{
	width:27px;
	height:13px;
	cursor:pointer;
	position:relative;
	vertical-align:middle;
	display:inline-block;
	*display:inline;
	*zoom:1;
}
div.switchConNetState{
	font-size:12px;
	margin:1px 0 0 9px;
	vertical-align: middle;
}
i.switchBg{
	width:27px;
	height:13px;
	display:inline-block;
	background-color: #1FA793;
	border-radius: 7px;
	vertical-align:top;
}
i.switchBall{
	width:11px;
	height:11px;
	top:1px;
	left:17px;
	position:absolute;
	display:inline-block;
	cursor:pointer;
	z-index:1;
	background-color: #D9D9D9;
	border-radius: 6px;
}
/* switch ball end */

/* basic alert */
div.baConfirmCon{
	width:100%;
	top:185px;
	position:fixed;
	z-index:1011;
}
div.baConfirm{
	width:415px;
	height:155px;
	border-radius:3px;
	margin:0px auto;
	background:white;
}
div.baConfirm i.baConfirmLogo{
	width:68px;
	height:68px;
	margin:34px 0 0 34px;
	display:inline-block;
	background:url(../../web-static/images/alert.gif) no-repeat;
}
div.baConfirm span{
	display:inline-block;
}
span.baConfirmQuestion{
	width:260px;
	height:50px;
	color:#000000;
	font-weight:bold;
	font-size:12px;
	margin:55px 0 0 33px;
	vertical-align:top;
	overflow:hidden;
	word-wrap:break-word;
	word-break:break-all;
}
div.baConfirmFuncCon{
	font-size:12px;
	text-align:right;
}
div.baConfirm  input{
	color:#FFFFFF;
	font-size:12px;
	border:0px;
	cursor:pointer;
	margin-right:8px;
}
div.baConfirm input.subBtn{
    width:70px;
    margin:10px 20px 0 0;
    padding:6px;
	*padding:4px 6px;
	_padding:4px 6px 2px;
	float:right;
	background:none repeat scroll 0 0 #A0D468 !important;
}
/* basic alert end */

/* basic set end */

/* cloud account */
div.cloudAccountLogo{
	width:980px;
	height:78px;
	background:url(../../web-static/images/logo.png) no-repeat 0 21px;
	margin:0px auto;
	position:relative;
}
div.cloudManageCon{
	position:relative;
	min-height:575px;
	_height:575px;
	margin:0px auto;
	width:980px;
}
div.cloudMgtFoot{
	color:#FFFFFF;
	bottom:0px;
	font-size:12px;
	height:25px;
	position:absolute;
	width:100%;
}
div.cloudMgtDetial{
	padding:0 15px 40px;
}
ul.footConCloud{
	list-style:none;
}
ul.footConCloud li.softVersion{
	float:left;
}
ul.footConCloud li.netAddrTel{
	float:right;
}
ul.footConCloud li.netAddrTel a {
    color:#FFFFFF;
    text-decoration:none;
}
ul.footConCloud li.netAddrTel label {
	border-left: 1px solid #FFFFFF;
    color: #FFFFFF;
    margin-left: 10px;
    padding-left: 10px;
}
div.cloudMgtFoot span.officalAddr{
	float:left;
}
div.cloudMgtFoot span.surpportTel{
	float:right;
}
div.cloudManageCon p.title{
	border-bottom:1px solid #335C9C;
	padding-bottom:10px;
}
div.cloudManageCon p.title span.title{
	color:#FFFFFF;
	font-size:24px;
	font-weight:bold;
	line-height:34px;
}
div.cloudManageCon p.title span.tip{
	color:#184283;
	font-size:12px;
	margin-left:10px;
}
div.cloudManageCon p.title a{
	color:#184283;
	font-weight:bold;
	font-size:14px;
	text-decoration:none;
}
p.cloudRgstTip{
	color:#184283;
	font-size:12px;
	margin-top:13px;
	text-align:left;
}
p.inputTip{
	color:#FFFFFF;
	font-size:12px;
	line-height:12px;
	margin-left:334px;
	margin-top:10px;
}
input.cloudSub{
	font-size:14px !important;
	height:35px;
	margin-left:334px;
	margin-top:40px;
	width:226px;
}
.mpPhoneRgt50{
	margin-top:50px !important;
}
.mpPhoneRgt40{
	margin-top:40px !important;
}
.mpPhoneRgt20{
	margin-top:20px !important;
}
.mpPhoneRgt15{
	margin-top:15px !important;
}
.mpPhoneRgt10{
	margin-top:10px !important;
}
.mpPhoneRgt6{
	margin-top:6px !important;
}
img.cloudBRBgF{
	position:absolute;
	height:31px;
	width:70px;
	top:210px;
	left:-47px;
}
img.cloudBRBgS{
	position:absolute;
	height:56px;
	width:138px;
	top:215px;
	left:11px;
}
img.cloudBRBgT{
	position:absolute;
	height:45px;
	width:108px;
	top:417px;
	right:12px;
}
/* cloud account end */

/* basic router set */
#menuBRSUl{
	list-style:none;
	padding-bottom:50px;
	width: 235px;
	margin-left: auto;
}
#menuBRSUl li{
	border-bottom:1px solid #4ABDE0;
	height:55px;
	line-height:55px;
	_height:37px;
	_padding-top:18px;
	width:196px;
	cursor:pointer;
	font-size:18px;
	margin-left:0px;
	position:relative;
}
#menuBRSUl li i.menuImg{
	width:25px;
	height:25px;
	cursor:pointer;
	vertical-align:middle;
	display:inline-block;
}
/* basic router set end */

/* eptmanagement */
#menuBEptMngUl{
	list-style:none;
}
#menuBEptMngUl li{
	border-bottom:1px solid #F07544;
	height:55px;
	line-height:55px;
	_height:37px;
	_padding-top:18px;
	width:196px;
	cursor:pointer;
	font-size:18px;
	margin-left:0px;
	position:relative;
}
#menuBEptMngUl li i.menuImg{
	width:25px;
	height:25px;
	cursor:pointer;
	vertical-align:middle;
	display:inline-block;
}
/* eptmanagement end */

/* APP */
#menuBAppsUl li{
	border-bottom:1px solid #A5C135;
	height:55px;
	line-height:55px;
	_height:37px;
	_padding-top:18px;
	width:196px;
	cursor:pointer;
	font-size:18px;
	margin-left:0px;
	position:relative;
}
div.appConC{
	height:72px;
	float:left;
	overflow:hidden;
	width:280px;
	margin-bottom:40px;
}
div.appCon{
	padding-left:104px;
	position:relative;
}
div.appCon img.logo{
	cursor:pointer;
	height:50px;
	width:50px;
	position:absolute;
	top:0;
	left:10px;
	_left:-104px;
}
div.appCon i.logoShadow{
	background:url(../../web-static/images/routerBg.png) -413px -218px no-repeat;
	cursor:pointer;
	height:11px;
	width:71px;
	position:absolute;
	top:62px;
	left:0;
	_left:-104px;
}
div.appCon span.name{
	color:#FFFFFF;
	font-size:14px;
	font-weight:bold;
}
div.appCon p.vs{
	color:#FFFFFF;
	font-size:12px;
}
div.appCon p.vs span{
	margin-left:5px;
}
div.appCon div.appFunc{
	margin-top:8px;
}
div.appCon div.appFunc input{
	width:70px;
	padding-top:3px;
	padding-bottom:3px;
	*padding-top:2px;
	*padding-bottom:1px;
	margin-right:14px;
}
/* App end */

/* phone wizard */
div.phoneCon{
	background:#4cb1d9;
	box-sizing:border-box;
	font-size:0;
	min-height:100%;
	overflow:hidden;
	padding-bottom:60px;
	position:relative;
	width:100%;
}
img.phoneLogo{
	bottom:20px;
	height:12px;
	left:0;
	margin:0 auto;
	position:absolute;
	right:0;
	width:95px;
}
h1.phoneTitle{
	color:#FFFFFF;
	font-size:24px;
	margin:40px 0 40px;
	text-align:center;
}
ul.phInputUl{
	list-style:none;
	margin:0 auto 20px;
	width:280px;
}
ul.phInputUl li.phInputLi{
	background:#ffffff;
	border-radius:3px;
	height:40px;
	line-height:40px;
	width:100%;
}
li.phInputLi label{
	color:#3c3e43;
	display:inline-block;
	font-size:14px;
	text-align:right;
	vertical-align:middle;
	width:70px;
}
li.phInputLi i.clapboard{
	border-right:1px solid #3c3e43;
	display:inline-block;
	height:60%;
	vertical-align:middle;
	width:13px;
}
li.phInputLi input{
	border:none;
	font-size:14px;
	margin-left:15px;
	vertical-align:middle;
	width:150px;
}
ul.phInputUl li.phErrTip{
	margin-top:10px;
	position:relative;
}
li.phErrTip i.error{
	background:url(../../web-static/images/routerBg.png) no-repeat -467px -190px;
	height:13px;
	left:0px;
	position:absolute;
	top:1px;
	width:13px;
}
li.phErrTip span.errDes{
	color:#ffffff;
	display:inline-block;
	font-size:14px;
	padding:0 10px 0 20px;
}
li.phErrTip span.pwdDepCon{
	background:#94d0e8;
	display:inline-block;
	height:8px;
	width:90px;
}
li.phErrTip span.pwdDepCon span.chgPwdDep{
	background:#ffffff;
	display:inline-block;
	height:8px;
}
div.phFunc{
	margin:60px auto 0;
	width:280px;
}
label.phOneBtn{
	background-color:#FEEB1A;
	border:none;
	border-radius:3px;
	color:#3C3E43;
	cursor:pointer;
	display:inline-block;
	font-size:16px;
	line-height:40px;
	height:40px;
	text-align:center;
	width:100%;
}
label.phTwoBtn{
	background-color:#FEEB1A;
	border:none;
	border-radius:3px;
	color:#3C3E43;
	cursor:pointer;
	display:inline-block;
	font-size:16px;
	line-height:40px;
	height:40px;
	text-align:center;
	width:130px;
}
label.phTwoBtnL{
	margin-right:20px;
}
span.phSelect{
	cursor:pointer;
	display:inline-block;
	font-size:14px;
	height:100%;
	line-height:39px;
	margin-left:15px;
	text-align:left;
	vertical-align:middle;
}
span.phSelect span.value{
	color:#3C3E43;
	display:inline-block;
	font-size:14px;
	overflow:hidden;
	vertical-align:middle;
	width:140px;
	word-break:break-all;
	word-wrap:break-word;
}
span.phSelect i.arrow{
	background:url(../../web-static/images/routerBg.png) no-repeat -445px -114px;
	display:inline-block;
	font-size:0;
	height:6px;
	vertical-align:middle;
	width:9px;
}
/* phone wizard end */
/* add new device for mesh start*/
div.addNewDevDiv{
	background: none repeat scroll 0 0 #FFFFFF;
	height:508px;
	margin:20px auto;
	width:650px;
	position:relative;
}
div.addNewDevDiv div.popHd {
	padding: 20px 20px 0 70px;
}
div.addNewDevDiv div.popHd i {
	background: url(../../web-static/images/routerBg.png) -421px -107px no-repeat;
	width: 22px;
	height: 22px;
	display: block;
	float: right;
	cursor: pointer;
}
div.addNewDevDiv div.popHd label {
	font-size: 14px;
	color: #343434;
	letter-spacing: -0.43px;
	font-weight: bold;
}
#stepOne {
	padding: 80px 74px 84px;
	text-align: center;
}
div.addNewDevDiv div.desCon {
	text-align: center;
	width: 219px;
	display: inline-block;
	vertical-align: top;
	*display:inline;
	*zoom:1;
}
div.addNewDevDiv div.desCon label {
	display: block;
	margin-top: 24px;
	padding: 0 10px;
	font-size: 13px;
	color: #343434;
	letter-spacing: -0.43px;
	line-height: 23px;
	text-align: left;
}
#stepOne p {
	font-size: 12px;
	color: #343434;
	letter-spacing: -0.37px;
	margin-top: 16px;
}
#stepOne i.resetImg {
	background: url(../../web-static/images/reset1.png);
	display: block;
	width: 219px;
	height: 125px;
}
#stepOne i.powerImg {
	background: url(../../web-static/images/power.png);
	display: block;
	width: 219px;
	height: 125px;
}
#stepOne i.easyExtend {
	background: url(../../web-static/images/easyExtend.png);
	display: block;
	width: 219px;
	height: 125px;
}
div.addNewDevDiv input.btnW{
	display: block;
	font-size: 14px;
	color: #000;
	letter-spacing: -0.43px;
	padding: 7px 0;
	width: 188px;
	margin-bottom: 8px;
	line-height: 14px;
	border: 0;
	border-radius: 3px;
	background: #FEEB1A;
	cursor: pointer;
}
#resetCon {
	text-align: center;
	margin-top: 44px;
	display: none;
}
#resetCon p.resetTips {
	font-size: 14px;
	color: #343434;
	letter-spacing: -0.43px;
	margin-top: 24px;
	text-align: left;
	margin-left: 80px;
	font-weight: bold;
}
#resetCon p.resetTips span{
	color: #2AC4B2;
}
#resetCon p.des {
	text-align: left;
	margin-left: 80px;
	margin-top: 16px;
	font-size: 14px;
	color: #343434;
	letter-spacing: -0.37px;
	line-height: 23px;
}
#noneExt,#noMyExt {
	padding: 126px 177px 0;
	display: none;
}
#noneExt p.tips,#noMyExt p.tips {
	font-size: 14px;
	color: #343434;
	letter-spacing: -0.43px;
	text-align: center;
	font-weight: bold;
}
#noneExt p.des,#noMyExt p.des {
	font-size: 14px;
	color: #343434;
	letter-spacing: -0.43px;
	line-height: 23px;
	margin-top: 16px;
}
#noneExt p.des span,#noMyExt p.des span {
	text-decoration: underline;
	cursor: pointer;
	font-weight: bold;
}
#stepTwo {
	text-align: center;
	display: none;
	padding-top: 132px;
}
#stepTwo p {
	margin-top: 40px;
	font-size: 14px;
	color: #333333;
}
#stepThree {
	display: none;
	padding: 22px 70px 50px;
	position: relative;
	height: 345px;
}
#stepThree span.devNum {
	font-size: 12px;
	color: #999999;
	letter-spacing: 0;
}
#stepThree input.button {
	width: 80px;
	background: #FEEB1A;
	border-radius: 3px;
	padding: 7px 0;
	border: 0;
	cursor: pointer;
	line-height: 14px;
	font-size: 14px;
}
div.btnCon{
	text-align: center;
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
}
#stepThree div p {
	float: left;
	margin-top: 10px;
	color: #000;
	text-decoration: underline;
	cursor: pointer;
}
#scanedExtTbl {
	margin-top: 30px;
}
input.classNameBtn {
	border: 0;
	height: 16px;
	background: url(../../web-static/images/add.png) no-repeat;
	cursor: pointer;
	padding-left: 24px;
	font-size: 12px;
	color: #01B8A2;
	letter-spacing: 0;
}
input.classNameLoading {
	border: 0;
	width: 16px;
	height: 16px;
	background: url(../../web-static/images/tdLloading.gif);
}
input.classNameText {
	border: 0;
	background: transparent;
	color: #343434;
	font-size: 12px;
}
input.classNameSuccess {
	border: 0;
	background: url(../../web-static/images/success.png) no-repeat;
	color: #343434;
	font-size: 12px;
	padding-left: 18px;
	padding-top: 0px;
	background-position-y: 2px;
}
input.classNameFail {
	background: url(../../web-static/images/routerBg.png) -466px -188px no-repeat;
	padding-left: 19px;
	border: 0;
	color: #343434;
	font-size: 12px;
	word-break:break-all;
	word-wrap:break-word;
	white-space:normal !important;
}
div.addNewDevDiv p.title{
	width:363px;
	color:#4c4c4c;
	font-size:18px;
	font-weight:bold;
	margin:37px auto 0px;
	text-align:center;
	padding-bottom:28px;
	border-bottom:1px solid #d9d9d9;
}
input:-webkit-autofill{
	-webkit-text-fill-color: #FFFFFF;
	transition: background-color 86400s ease-in-out 86400s;
	caret-color: #FFFFFF;
}
/*add new device for mesh end*/
/*router relay conflict start*/
div.relayAlertCon{
	background: none repeat scroll 0 0 #FFFFFF;
	max-height:530px;
	margin:20px auto;
	width:650px;
	position:relative;
}
div.relayAlertCon div.popHd {
	padding: 20px 20px 0 70px;
}
div.relayAlertCon div.popHd i {
	background: url(../../web-static/images/routerBg.png) -421px -107px no-repeat;
	width: 22px;
	height: 22px;
	display: block;
	float: right;
	cursor: pointer;
}
div.relayAlertCon div.popHd label {
	font-size: 14px;
	color: #343434;
	letter-spacing: -0.43px;
	font-weight: bold;
}
div.relayAlertCon div.popCon {
	margin: 22px 70px;
	max-height: 369px;
}
div.relayAlertCon div.popCon p {
	font-size: 12px;
	color: #343434;
	letter-spacing: -0.37px;
}
div.relayAlertCon div.popCon p.unavailable {
	margin-top: 8px;
	margin-bottom: 4px;
	font-weight: bold;
}
div.relayAlertCon div.popCon p.portTips {
	margin-top: 22px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -0.43px;
}
div.relayAlertCon div.popFoot {
	margin-left: 55px;
	margin-top: 35px;
	padding-bottom: 50px;
}
div.relayAlertCon div.popFoot input.cancel {
	background: #D9D9D9;
}
/*router relay conflict end*/
div.meshHelpDiv {
	background: none repeat scroll 0 0 #fff;
	height: 385px;
	margin: 20px auto;
	width: 650px;
	position: relative;
}
div.meshHelpDiv div.popHd {
	padding: 20px 20px 0 70px;
}
div.meshHelpDiv div.popHd i {
	background: url(../../web-static/images/routerBg.png) -421px -107px no-repeat;
	width: 22px;
	height: 22px;
	display: block;
	float: right;
	cursor: pointer;
}
div.meshHelpDiv div.popBody {
	padding: 22px 74px 84px;
}
div.meshHelpDiv div.popBody p {
	font-size: 14px;
	color: #343434;
	letter-spacing: -0.43px;
	line-height: 23px;
	margin-bottom: 36px;
}
div.meshHelpDiv div.popBody div.desCon{
	text-align: center;
	width: 219px;
	display: inline-block;
	vertical-align: top;
}
div.meshHelpDiv div.popBody div.desCon label {
	display: block;
	margin-top: 24px;
	padding: 0 10px;
	font-size: 13px;
	color: #343434;
	letter-spacing: -0.43px;
	line-height: 23px;
	text-align: left;
}