.display .disable .portSfpIcon,
.display .active .portSfpIcon,
.display .normal .portSfpIcon,
.setting .disable .portSfpIcon,
.setting .normal .portSfpIcon,
.setting .active .portSfpIcon {
    background-image: url(../images/sfp.png);
    width: 20px;
    height: 11px;
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 4px;
}
.portConfig {
    display: inline-block;
    width: auto;
    height: 72px;
}
.portConfig .portImg, .portConfig .powerImg {
    display: inline-block;
    width: 40px;
    height: 56px;
    margin: 8px 16px;
    position: relative;
}
.portConfig img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
}
.portConfig span {
    width: 72px;
    font-size: 12px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: -16px;
}
.portConfig.display {
    background-color: #92d7ec;
    border-radius: 8px;
}
.portConfig.display span.disable {
    color: #FFFFFF;
}
.portConfig.display span.active {
    color: #1E96D4;
}
.portConfig.display span.normal {
    color: #FFFFFF;
}
.portConfig.setting {
    background-color: #F5F5F5;
    border: 1px solid #E6E6E6;
    border-radius: 2px;
}
.portConfig.setting .portImg.normal {
    cursor: pointer;
}
.portConfig.setting .portImg.active {
    cursor: pointer;
}
.portConfig.setting span.disable {
    color: #999999;
}
.portConfig.setting span.active {
    color: #1785E6;
}
.portConfig.setting span.normal {
    color: #333333;
}